body.fullscreen.noscript
    script.
        document.querySelector('body').classList.remove('noscript');
    .container
        h1.title Hello Burger!
        img(src="img/index-icon.png")
        br
        a(href="app2.html") Hello Storage!
        br
        a(onclick="successClicker()") Testomat
        br
        p(id="burger-counter")