doctype html
html
    head
        meta(charset='utf-8')
        title PWA-Builder
        link(rel='manifest' href='index-manifest.json')
        link(rel='icon' href='favicon.png')
        link(rel='apple-touch-icon' sizes='180x180' href='img/index-icon.png')
        meta(name='description', content='A Progressive Web App Builder')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        include styles-include.pug
        include scripts-include.pug
    include ../../source/index/indexbody.pug
