body.fullscreen.noscript
    script.
        document.querySelector('body').classList.remove('noscript');
    .container
        h1.title Hello Storage!
        img(src="img/app2-icon.png")
        br
        a(href="index.html") Hello Burger
        br
        a(onclick="successClicker()") Testomat
        br
        p(id="app2-counter")