doctype html
html
    head
        meta(charset='utf-8')
        title App 2
        link(rel='manifest' href='app2-manifest.json')
        link(rel='icon' href='favicon.png')
        link(rel='apple-touch-icon' sizes='180x180' href='img/app2-icon.png')
        meta(name='description', content='A Progressive Web App Builder')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        include styles-include.pug
        include scripts-include.pug
    include ../../source/app2/app2body.pug
